
p{
    color: rgb(34, 80, 178);
    border: 0px solid red;

}

/* grouping selector */
p,h1{
    /* # */
}

/* id selector */
#redelement{
    color: lime;
    background-color: black;
}

/* class selector */
.change{
    color: white;
    background-color: rgb(17, 17, 16);
}

